
$transition-time: 1.5s;

.LogoBackground{
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0.2;
  transition: filter $transition-time;

  .logo{
    position: absolute;
    right: 0;
    top: -40px;
    height: 110%;
    transition: all $transition-time;
  }
}
