@import "src/assets/styles/colors";
@import "src/assets/styles/measures";


.ClientAccountStatement {
    width: 80%;
    margin-left: $main-spacing;
        
    .info-container {
        .general-content__row {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: $main-spacing;

            .general-content__row-info {
                flex: 1;
                display: flex;
                flex-direction: column;
                margin: 10px;
                flex-basis: 250px;
                max-width: 180px;

                .general-content__row-info-value {
                    font-size: 14px;
                    color: $text-color;
                    margin: 0;
                }
                .general-content__row-info-label {
                    font-size: 14px;
                    margin: 0;
                    margin-top: 4px;
                    color: $secondary-text-color;
                }
            }
        }
    }

    .TideReactTable{
        margin-top: 10px;
    }
}