@import "src/assets/styles/colors";
@import "src/assets/styles/measures";

.MemorandumForm{
    .memorandum-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $gray3;
        padding: 16.5px 20px;
        border-radius: 30px;
        box-shadow: $default-shadow;
    
        .title-input{
          background: none;
          border: none;
          font-family: Montserrat-medium, sans-serif;
          font-size: 24px;
          padding: 0;
          width: 50%;
          outline: none;
          color: $text-color;
        }
    }

    .info-blocks{
        display: flex;
        justify-content: space-between;
    }

    .fields{
        flex-wrap: wrap;
        display: flex;
        align-items: center;

        .project-field{
            margin: 10px;
            flex: 1;

            &:last-child{
                margin-right:0;
            }

            &:first-child{
                margin-left:0;
            }
        }

        .WindInput .input-el  {
            min-width: 150px;
            width: 100%;
        }
    }
}