@import "../../../assets/styles/colors";

.AppVersion {
  position: absolute;
  bottom: 20px;
  right: 40px;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  hr {
    border-top: 2px solid $subtitle-underline;
    border-bottom: none;
    border-radius: 5px;
  }
}