@import "src/assets/styles/colors";

.TideToaster{
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 800;

  .message-bar{
    position: relative;
    text-align: center;
    padding: 20px;
    background: white;
    border-radius: 30px;
    box-shadow: $default-shadow;
    display: flex;
    margin: 20px;
    &.with-icon{
      padding-left: 70px;
    }
    .icon{
      width: 60px;
      height: 60px;
      position: absolute;
      left: 0;
      top: -2px;
    }
    &.error{

    }
    &.info{

    }
    &.success {

    }
  }
}
