@import "src/assets/styles/colors";

.SelectorMenuItem {
  color: #0d0d0d;

  .SelectorMenuItem__button {
    display: flex;
    align-items: center;
    height: 1.75rem;
    width: 1.75rem;
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: none;

    &.is-open {
      color: $gray2;
      border-width: 1px 1px 0 1px;
      border-style: solid;
      border-color: $gray2;
    }
    &.is-active {
      color: $main-blue;
      border-color: $gray2;
    }
  }

  .options {
    display: none;
    &.is-open {
      border: 1px solid $gray2;
      box-shadow: $default-shadow;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: white;
      position: absolute;
      z-index: 1;
      button {
        display: flex;
        align-items: center;
        border: none;
        height: 1.65rem;
        width: 1.65rem;
        display: flex;
        justify-content: center;
        background-color: transparent;
      }
    }
  }
}