
.CommentDetail{
    background-color: white;
    border-radius: 1rem;
    margin-bottom: 10px;
    padding: 10px;

    .Header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }

    .UserDetails {
        display: flex;
        
        & > img {
            object-fit: cover;
            border-radius: 50%;
            height: 20px;
            width: 20px;
        }

        & > span {
            margin-left: 10px;
            font-size: 14px;
        }
    }

    .CommentText {
        margin-top: 10px;
        font-size: 14px;
    }

    .deleteIcon{
        color: red;
        cursor: pointer;
    }
}