.TideTooltiper{
  position: fixed;
  z-index: 500;
  min-height: 34px;
  display: flex;
  background: white;
  border-radius: 17px;
  padding: 5px 20px 5px 42px;
  align-items: center;
  box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.2);

  .logo{
    position: absolute;
    height: 34px;
    left: 0;
    top: 0;
  }
  .content{
    font-size: 12px;
  }
}
