.acl-permissions-modal {
  .acl-permissions-modal__content {

    .acl-permissions-modal__content__header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }
  }

  .acl-permissions-modal__content__body {
    margin-top: 10px;
    .general-users-container {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      .UserPermissionsBar {
        min-width: calc(50% - 10px);
        margin-bottom: 20px;
        &:nth-child(even) {
          margin-left: 10px;
        }
        &:nth-child(odd) {
          margin-right: 10px;
        }
      }
    }

    .entity-users-container {
      width: 100%;
      .UserPermissionsBar {
        min-width: 100%;
        margin: 20px 0;
      }
    }
  }

  .acl-permissions-modal__content__footer {
    margin-top: 20px;
  }
}
