@import "src/assets/styles/colors";

.MoneyField {
  display: inline-block;
  position: relative;

  .field{
    min-width: 150px;
    width: 100%;
    padding: 12px 20px;
    border-radius: 30px;
    box-shadow: $default-shadow;
    background: white;
    color: $text-color;
    min-height: 35px;
  }

  .placeholder{
    color: $secondary-text-color;
    position: absolute;
    left: 20px;
    top: calc(50% - 0.5em);
    transition: font-size 200ms, top 200ms;
  }
  &.with-content{
    .placeholder{
      font-size: 0.7em;
      top: 7%;
    }
  }
}