@import "src/assets/styles/colors";

.WindTextarea{
  display: inline-block;
  position: relative;

  .textarea-el{
    background: none;
    border: none;
    width: 330px;
    padding: 12px 20px;
    border-radius: 20px;
    box-shadow: $default-shadow;
    background: white;
    color: $text-color;
    flex: 1;

    &:focus{
      outline: none;
    }
    &[type="password"] {
      font-family: Verdana, sans-serif;
      letter-spacing: 0.125em;
    }
  }

  .placeholder{
    color: $hint-text-color;
    position: absolute;
    left: 20px;
    top: 0.8em;
    transition: font-size 200ms, top 200ms;
    pointer-events: none;
  }
  &.with-content{
    .placeholder{
      font-size: 0.6em;
      top: 5px;
    }
  }
}
