@import "src/assets/styles/colors";
@import "src/assets/styles/measures";

.DragDropFile {
  width: 100%;
  height: 135px;
  background-color: $gray4;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  .file-container {

    .file-container__placeholder {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: $gray2;
      cursor: pointer;

      .file-container__placeholder__icon {
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 41px;

        .icon {
          margin: 0 10px;
        }
      }

      .file-container__placeholder__text {
        font-size: 20px;
        text-align: center;
        font-family: Montserrat-semibold, sans-serif;
        margin-top: 10px;
      }
    }

    .file-container__file {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: $gray2;

      .file-container__file__icon {
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 41px;

        .icon {
          margin: 0 10px;
        }

        .close-icon {
          position: relative;
          top: -10px;
          font-size: 20px;
          cursor: pointer;
        }
      }
      .file-container__file__text {
        font-size: 20px;
        text-align: center;
        font-family: Montserrat-semibold, sans-serif;
        margin-top: 10px;
      }
    }
  }
}
