.TimeField{
  margin-top: 10px;
  color: #484848;
  @media screen and (max-width: 800px) {
    flex-direction: column;
    .time-portion {
      margin-top: 1em;
    }
  }

  .input{
    margin-top: 0;
  }
  .time-portion{
    display: flex;
    align-items: center;
    min-width: 30%;
    select{
      flex: 1;
    }
  }
  .time-points{
    font-size: 2em;
    padding-bottom: 25px;
  }

}