@import "../../../assets/styles/colors";

.UnderlinedTitle{
  position: relative;
  margin: 0;
  .title-content{
    z-index: 1;
    position: relative;
  }
  &:before{
    content: "";
    z-index: 0;
    position: absolute;
    left: 0;
    bottom: 0.14em;
    height: 0.1666em;
    width: 54%;
    background-color: $main-title-underline;
  }
  &.secondary {
    &:before {
      background-color: $subtitle-underline;
    }
  }
}
