@import "src/assets/styles/colors";

.MemorandumDetail{
    .memorandum-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $gray3;
        padding: 16.5px 20px;
        border-radius: 30px;
        box-shadow: $default-shadow;
    }

    .SimpleCard{
        margin: 30px 0;
    }

    .general-info{
        .info-block{
            display: flex;
            margin-bottom: 20px;
            justify-content: space-between;
        }
    }

    .richtext-editor-content{
        img {
          max-width: 100%;
        }
      
        table {
          border-collapse: collapse;
          table-layout: fixed;
          width: 100%;
          margin: 0;
          overflow: hidden;
      
          td,
          th {
            min-width: 1em;
            border: 2px solid #ced4da;
            padding: 3px 5px;
            vertical-align: top;
            box-sizing: border-box;
            position: relative;
      
            /*> * {
              margin-bottom: 0;
            }*/
          }
      
          th {
            font-weight: bold;
            text-align: left;
            background-color: #f1f3f5;
          }
      
          .selectedCell:after {
            z-index: 2;
            position: absolute;
            content: "";
            left: 0; right: 0; top: 0; bottom: 0;
            background: rgba(200, 200, 255, 0.4);
            pointer-events: none;
          }
      
          .column-resize-handle {
            position: absolute;
            right: -2px;
            top: 0;
            bottom: -2px;
            width: 4px;
            background-color: #adf;
            pointer-events: none;
          }
        }
        
        .tableWrapper {
          overflow-x: auto;
        }
    }
}