@import "src/assets/styles/colors";

.LinkMenuItem {
  .LinkMenuItem__button {
    display: flex;
    align-items: center;
    height: 1.75rem;
    width: 1.75rem;
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: none;

    &.is-open {
      color: $gray2;
      border-width: 1px 1px 0 1px;
      border-style: solid;
      border-color: $gray2;
    }
    &.is-active {
      color: $main-blue;
      border-color: $gray2;
    }
  }

  .anchor_conatiner {
    display: none;
    &.is-open {
      padding: 0.3rem;
      border-radius: 0.2rem;
      border: 1px solid $gray2;
      box-shadow: $default-shadow;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      position: absolute;
      z-index: 1;
      label {
        margin-right: 0.5rem;
        font-size: 12px;
      }
      input {
        max-width: 150px;
        border: 2px solid $main-blue;
        border-radius: 0.3rem;
        padding: 0.2rem;
        font-size: 13px;
      }
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        height: 1.65rem;
        width: 1.65rem;
        background-color: transparent;
      }
    }
  }
}