@import "src/assets/styles/colors";
@import "src/assets/styles/measures";

.ProjectForm{
  .project-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $gray3;
    padding: 16.5px 20px;
    border-radius: 30px;
    box-shadow: $default-shadow;

    .title-input{
      background: none;
      border: none;
      font-family: Montserrat-medium, sans-serif;
      font-size: 24px;
      padding: 0;
      width: 50%;
      outline: none;
      color: $text-color;
    }
  }
  .SimpleCard{
    margin: 30px 0;
    .card-content{
      display: flex;
      flex-direction: column;
    }
  }
  .fields{
    display: flex;
    .project-field{
      flex: 1;
      margin-right:$main-spacing;
      &:last-child{
        margin-right:0;
      }
    }
  }
  .description-input{
    display: flex;
    margin: $main-spacing 0;
    height: 100px;
  }

}
