@import "src/assets/styles/colors";

.ProjectListCard{
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  position: relative;
  box-shadow: $default-shadow;

  .company-margin{
    width: 50px;
  }
  .content{
    padding: 10px 0 0 20px;
    width: 100%;

    .project-name {
      margin: 0;
    }

    .stats{
      display: none;
      margin: 20px 0;
      position: absolute;
      top: 20px;
      left: 0;
      background-color: white;
      width: 100%;
      padding: 20px;
      top: 55px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      transition: opacity 0.5s ease-out;
      box-shadow: $default-shadow;
      z-index: 2;

      .stats-col{
        flex: 1;
        .stat{
          margin: 10px 0;
          color: $secondary-text-color;
          &.main{
            color: $text-color;
          }
        }
      }
    }
  }
}
