@import "src/assets/styles/colors";

.IconButton {
  border-radius: 50%;
  display: flex;
  width: 40px;
  height: 40px;
  box-shadow: $default-shadow;
  background: white;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  border: none;
  background: none;
  font-size: 22px;

  &.danger {
    color: $danger-color;
  }

  &.success {
    color: $success-color;
  }

  &.warning {
    color: $warning-color;
  }

  &.info, &.default {
    color: $info-color;
  }

  .disabled {
    opacity: 0.5;
  }

  .disabled:hover {
    cursor: not-allowed;
  }

  .disabled:active {
    box-shadow: none;
  }

  .disabled:focus {
    outline: none;
  }
}
