@import "src/assets/styles/measures";

.UserForm {
  .SimpleCardTwoColumns{
    .fields{
      flex-wrap: wrap;
      display: flex;
      .project-field{
        margin: 10px;
        flex: 1;
        &:last-child{
          margin-right:0;
        }
        &:first-child{
          margin-left:0;
        }
      }
    
      .WindInput .input-el  {
        min-width: 150px;
        width: 100%;
      }
    }
  }

  .SimpleCardTwoColumns__columnRight{
    margin-left: $main-spacing;
  }
}
