@import "src/assets/styles/colors";

.FileDetailsModal{
  .general-info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .preview-placeholder{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $gray4;
    border-radius: 20px;
    color: $gray1;
    padding: 33px 0;
    cursor: pointer;
    .icon{
      font-size: 50px;
      margin-bottom: 20px;
    }
    &:hover .search-icon{
      animation: FileDetailsModal_icon 3s infinite ;
    }
  }
}

@keyframes FileDetailsModal_icon {
  0%{
    transform: translate(0, 0) rotate(0) scale(1);
  }
  25%{
    transform: translate(-8px, -15px) rotate(-20deg) scale(0.8);
  }
  50%{
    transform: translate(0, 0) rotate(0) scale(1);
  }
  75%{
    transform: translate(-10px, -10px) rotate(40deg) scale(0.6);
  }
  0%{
    transform: translate(0, 0) rotate(0) scale(1);
  }
}
