@import "src/assets/styles/mixins";
@import "src/assets/styles/breakpoints";

.NavBar {
	background-color: #FFFFFF;
	color: #333;
	text-decoration: none;
	left: 0%;
	top: 0%;
	position: sticky;
	border-radius: 0;
	width: 100%;
	height: 75px;
	z-index: 10;

	@include md {
		border-radius: 0px 20px 20px 0px;
		height: 100vh;
		width: 14rem;
	}

	img{
		position: relative;
		width: 89px;
		height: 35px;
		top: 20px;
		left: 20px;

		@include md {
			left: 45px;
			top: 40px;
			margin-bottom: 5rem;
		}
	}
	li {
		margin-bottom: .7rem;
		white-space: no;
	}
	ul{
		list-style: none;
		margin: 0;
		padding: .1rem 2rem .3rem;
	}
	.main-primary {
		width: 73px;
		height: 22px;
		left: 20px;
		top: 247px;
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;
		color: #4C4C4E;
	}
	.main-secondary {
		left: 20px;
		top: 212px;
		font-weight: 400;
		font-size: 12px;
		line-height: 15px;
		color: #4C4C4E;
		padding-left: 0px;
		padding-right: 0px;
	}
	.primary {
		padding-bottom: 8px;
	}

	&__list-items {
		height: 0;
		transition: all 0.3s linear;
		overflow: hidden;

		@include md {
			display: block;
			height: auto;
		}

		&--open {
			height: 100vh;
			transition: all 0.3s linear;
			background-color: white;
			padding-top: 50px !important;
			overflow: hidden;
		}
	}

	&__hambuger {
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		padding: 1rem;
		z-index: 100;
		margin-top: 6px;
		margin-right: 10px;

		@include md {
			display: none;
		}

		.line {
			background-color: #000;
			display: block;
			margin: 5px 0;
			height: 2px;
			width: 30px;
			transition: all 0.1s ease-in;
		}

		&.open .line:nth-child(1) {
			transform: translateY(7px) rotate(45deg);
		}
		
		&.open .line:nth-child(2) {
			opacity: 0;
		}
		
		&.open .line:nth-child(3) {
			transform: translateY(-7px) rotate(-45deg);
		}
	}
}
