.UserPermissionsForm {
  .UserPermissionsForm__content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .WindSwitch {
      width: calc(50% - 20px);
      margin-bottom: 20px;
      &:nth-child(odd) {
        margin-right: 10px;
      }
      &:nth-child(even) {
        margin-left: 10px;
      }
    }
  }
}
