@import "src/assets/styles/colors";
@import "src/assets/styles/_breakpoints";
@import "src/assets/styles/_mixins";
@import "src/assets/styles/measures";

.ProductForm{
    .project-field{
        @include md {
            flex: 0 1 200px !important;

            &--big{
                flex: 1 1 !important;
                width: 50%;
            }
        }
    }

    hr.rounded {
        border-top: 4px solid $warning-color;
        border-bottom: none;
        border-radius: 5px;
    }

    .description {
        margin-top: 15px;
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
        .RichTextEditor {
            width: 100%;
        }
    }
}
