@import "src/assets/styles/colors";
@import "src/assets/styles/measures";

.BankStatementMainDetails {
  .info-pairs {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .info-blocks{
    display: flex;
    justify-content: space-between;
  }
  .info-blocks > * {
    flex: 1;
  }

  .badge {
    font-size: 20px;
    display: flex;
    align-items: center;
    &-info {
      color: $warning-color;
    }

    &-success {
      color: $success-color;
    }

    &-danger {
      color: $danger-color;
    }
  }

  .badge-text {
    color: $gray1;
    font-size: 15px;
    margin-left: 10px;
  }
  .app_file_button {
    margin-top: 20px;
  }
}
