@import "src/assets/styles/colors";

.MenuItem {
  background-color: transparent;
  border: none;
  border-radius: 0.4rem;
  color: #0d0d0d;
  height: 1.75rem;
  margin-right: 0.25rem;
  padding: 0.25rem;
  width: 1.75rem;
  
  svg {
    fill: currentColor;
    height: 100%;
    width: 100%;
  }

  &.is-active {
    color: $secondary-blue;
  }
}