@import "src/assets/styles/colors";

.TextField{
  position: relative;
  .label{
    position: absolute;
    font-size: 0.7em;
    top: -0.6em;
    left: 0.2em;
    border-radius: 0.2em;
    background-color: white;
    color: $secondary-text-color;
    padding: 0 0.2em;
  }
}
