@import "../../../../assets/styles/colors";

.Menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $logo-gradient;
  z-index: 100;
  display: flex;

  .dot-is-active {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: $danger-color;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
  }

  .icon-is-active {
    display: inline-block;
    position: absolute;
    width: 10px;
    top: 8px;
    left: -15px;
    height: 10px;
    vertical-align: middle;
    margin-right: 10px;
  }

  .align-row-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .align-column-center {
    @extend .align-row-center;
    flex-direction: column;
  }

  .route-container {
    @extend .align-column-center;
    flex: 1;
    margin-bottom: 8%;

    .main-link-container {
      @extend .align-column-center;
      .main-link {
        color: white;
        text-decoration: none;
        font-size: 40px;
      }

      .secondary-links {
        display: flex;
        flex-direction: column;
        height: 0px;
        overflow: hidden;
        width: 100%;
        padding-left: 20px;
        transition: all 0.5s ease;
        .secondary-link-container {
          padding: 10px 2px;
          .secondary-link {
            color: white;
            font-size: 1.2rem;
            position: relative;
          }

          .active-icon {
            display: none;
          }

          &:hover {
            .active-icon {
              @extend .icon-is-active;
            }
          }

          &.active {
            .active-icon {
              @extend .icon-is-active;
            }
          }
        }
      }
      &:hover {
        .main-link {
          .active-dot {
            @extend .dot-is-active;
          }
        }
        .secondary-links {
          height: 100%;
          transition: all 1s ease;
        }
      }
      &.active {
        .main-link {
          .active-dot {
            @extend .dot-is-active;
          }
        }
      }
    }
  }
}
