@import "../../../assets/styles/measures";
@import "../../../assets/styles/colors";

.Login{
  position: relative;
  padding: 20px 20px;
  height: 100vh;
  width: 100vw;
  overflow: auto;

  .form-block{
    z-index: 1;
    position: relative;
    margin: 18vh 0 0 10vw;
    .logo{
      height: 60px;
    }
    .WindInput, .Button{
      margin-top: $main-spacing;
    }
    .Button{
      width: 330px;
    }

  }
  .remember-me{
    text-align: center;
    width: 330px;
    color: $gray2;
    margin-top: 20px;
  }
  .forgot-password{
    text-align: center;
    width: 330px;
    color: $gray2;
  }
  .version{
    position: absolute;
    margin: 0;
    bottom: 20px;
    left: 20px;
    color: $gray2;
  }
}
