@import "src/assets/styles/colors";

.DropDownMenuItem__select {
  margin-top: 2px;
  width: 100px;
  background-color: transparent;
  border: none;
  .DropdownIndicator{
    border: none;
    background: none;
    color: $text-color;
    font-size: 12px;
    padding-right: 15px;
    .caret{
      transition: transform 300ms;
      &.open{
        transform: rotate(180deg);
      }
    }
  }
  .tide-react-select{
    &__control {
      border-radius: 5px;
      border: none;
      min-height: unset;
      height: 25px;
      background-color: transparent;
      font-size: 12px;
    }
    &__indicator-separator {
      display: none;
    }
    &__menu{
      border-radius: 5px;
      overflow: hidden;
    }
    &__option{
      &, &--is-selected, &--is-focused, &--is-disabled{
        background: white !important;
        color: $text-color;
        font-size: 12px;
        cursor: pointer;
      }
      &--is-focused{
        font-family: Montserrat-medium, sans-serif;
      }
    }
  }
}