$ball-width: 1336px;
.FollowingBalls{
  position: absolute;
  pointer-events: none;
  z-index: -1;
  left: 0;
  top: 0;

  .ball {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    position: absolute;

    &1{width: $ball-width; height: $ball-width;}
    &2{width: $ball-width*.7; height: $ball-width*.7; }
    &3{width: $ball-width*.45; height: $ball-width*.45; }
    &.logo{width: $ball-width*.28; opacity: 0.1 }
  }
}
