@import "src/assets/styles/colors";

.ProductDetail{
    .switch {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: none;
        border: none;
        min-width: 150px;
        border-radius: 30px;
        box-shadow: $default-shadow;
        background: white;
        color: $text-color;

        .content {
            padding: 5px 20px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .placeholder{
            color: $text-color;
        }
    }

    .description{
        &--detail{
            margin-top: 1rem;
        }
    }

    hr.rounded{
        border-top: 4px solid #FFC11E;
        border-bottom: none;
        border-radius: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}