@import "../../../assets/styles/colors";

$outline-width: 1px;

.Button{
  position: relative;
  border: $outline-width solid $main-blue;
  padding: 11px 20px;
  text-align: center;
  border-radius: 20px;
  background: none;
  cursor: pointer;
  color: $main-blue;
  background: white;
  overflow: hidden;

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.secondary {
    background-color: $secondary-blue;
    color: white;
    border: none;
    &.outline {
      border: $outline-width solid $secondary-blue;
      background-color: transparent;
      color: $secondary-blue;
    }
  }

  &.primary {
    background-color: $main-blue;
    color: white;
    border: 1px none;

    &.outline {
      border: $outline-width solid $main-blue;
      background-color: transparent;
      color: $main-blue;
    }
  }

  &.success {
    background-color: $success-color;
    color: white;
    border: none;
    &.outline {
      border: $outline-width solid $success-color;
      background-color: transparent;
      color: $success-color;
    }
  }

  &.danger {
    background-color: $danger-color;
    color: white;
    border: none;
    &.outline {
      border: $outline-width solid $danger-color;
      background-color: transparent;
      color: $danger-color;
    }
  }

  &.warning {
    background-color: $warning-color;
    color: white;
    border: none;
    &.outline {
      border: $outline-width solid $warning-color;
      background-color: transparent;
      color: $warning-color;
    }
  }

  &.info {
    background-color: $info-color;
    color: white;
    border: none;
    &.outline {
      border: $outline-width solid $info-color;
      background-color: transparent;
      color: $info-color;
    }
  }

  &.dark, &.black {
    background-color: $main-black;
    color: white;
    border: none;
    &.outline {
      border: $outline-width solid $main-black;
      background-color: transparent;
      color: $main-black;
    }
  }

  &.light, &.white {
    background-color:  white;
    color: $main-black;
    border: none;
    &.outline {
      border: $outline-width solid white;
      background-color: transparent;
      color: white;
    }
  }

  &:active{
    box-shadow: $default-shadow;
  }
  &:focus{
    outline-color: $main-blue;
  }

  .spinner-outer, .spinner-inner{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .spinner-outer{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    .spinner-inner{
      background: $main-blue;
      color: white;
      border-radius: 20px;
      font-size: 1.4em;
      width: 38px;
      height: 38px;
      animation: grow-button-spinner 400ms;
    }
  }
  @keyframes grow-button-spinner {
    from {
      width: 100%;
      height: 100%;
    }
    to {
      width: 38px;
      height: 38px;
    }
  }

  &.loading{
    border: none;
    .content{
      opacity: 0;
    }
  }

}
