@import "src/assets/styles/colors";

.BankAccountFormModal{
  .inner-modal {
    max-height: 95vh;
  }

  .BankAccountForm {
    .fields {
      display: flex;
      align-items: baseline;

      div {
      }
    }

    .form-row > *:first-child, .form-row > *:last-child {
      margin-left: 0;
      width: calc(50% - 10px);
    }


    .form-row > * {
      margin: 0 10px;
    }

    .WindInput .input-el{
      width: 100%;

    }

    padding-bottom: 250px;
  }
}