@import "src/assets/styles/colors";

.BankAccountDetail {
  .shadow-bordered {
    background: #FFFFFF;
    padding: 20px 14px;
    box-shadow: 2px 2px 5px 0px #00000033;
    border-radius: 20px;
    margin-bottom: 30px;

    h2 {
      margin: 0;
      margin-bottom: 20px;
      width: fit-content;
    }
  }


  .bank-account-stat-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
  }

  .money {
    display: block;
    color: $gray2;
    font-size: 32px;
    margin: 0;
    font-weight: bold;
  }

  p {
    margin: 0;
  }
}