@import "src/assets/styles/colors";

.ProjectDetail{
  .project-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $gray3;
    padding: 16.5px 20px;
    border-radius: 30px;
    box-shadow: $default-shadow;

    .project-status-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .project-status-label {
        border: none;
        background: transparent;
      }
    }
  }
  .SimpleCard{
    margin: 30px 0;
  }
  .general-info{
    .info-block{
      display: flex;
      margin-bottom: 20px;
      justify-content: space-between;
    }
  }
  .two-cols{
    display: flex;
    .SimpleCard{
      flex: 1;
      margin: 0;
      &:first-child{
        margin-right: 30px;
      }
    }
  }
}
