@import "src/assets/styles/colors";

.MenuBar {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: $gray3;

  .divider {
    height: 1.25rem;
    width: 1.25rem;
  }
}
