@import "src/assets/styles/colors";

.SearchBar{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 100;
  .bar-window {
    background: white;
    border-radius: 30px;

    width: 80%;
    box-shadow: 8px 25px 22px 5px rgba(0, 0, 0, 0.25);
    margin-top: 40px;
    padding-bottom: 15px;

    .main-bar {
      display: flex;
      padding: 15px 20px 0;

      .clear-button {
        background: none;
        border: none;
        padding: 0;
        .clear-icon {
          font-size: 24px;
          margin-right: 20px;
        }
      }

      .main-input {
        flex: 1;
        font-size: 18px;
        border: none;
      }

      .type-buttons {
        margin-left: 20px;

        .type-btn {
          font-size: 24px;
          background: none;
          border: none;
          color: $gray2;

          &.active {
            color: $text-color;
          }
        }
      }
    }

    &.active {
      .clear-button .clear-icon {
        color: $danger-color;
      }
    }
  }
}
