
.FormModal{
  height: 1000px;
  .WindInput {
    width: 100%;

    .input-el{
        width: 100%;
    }
  }

  .WindDatePicker, .WindSelect, .WindInput, .TideEntitySelect, .action-buttons {
    margin-top: 20px;
  }
}
