@import "../../../assets/styles/colors";
@import "src/assets/styles/mixins";
@import "src/assets/styles/breakpoints";

.ToolBar{
  position: absolute;
  top: 80px;
  right: 20px;

  @include md {
    position: fixed;
    right: 36px;
    flex-direction: column;
    z-index: 3;
    box-shadow: $default-shadow;
    top: unset;
  }

  &, .tool-btn{
    display: flex;
    border-radius: 30px;
    background: white;
    align-items: center;
    min-width: 60px;
  }

  .tool-btn{
    display: none;
    height: 0;

    @include md {
      height: 60px;
      display: flex;
    }
    
    
    justify-content: center;
    font-size: 20px;
    border: none;
    color: $text-color;
    margin-bottom: 10px;
    transition: box-shadow 300ms;
    width: 100%;
    justify-content: space-between;
    padding-right: 20px;
    
    &--padding {
      gap: 20px;
    }

    &:hover{
      box-shadow: $default-shadow;
    }

    &:last-child{
      margin-bottom: 0;
    }

    &:disabled{
      color: $gray2;
      cursor: initial;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    opacity: 0;
    width: 0px;
    min-width: 0px;
    overflow: hidden;
    transition: 300ms linear all;
    transition-delay: 0s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    white-space: nowrap;
    overflow: hidden;    
  }

  &:hover {
    transition-delay: 0s;
  }

  &:hover &__text {
    gap: 20px;
    opacity: 1;
    width: 200px;
    transition-delay: 0s;
    padding-left: 10px;
    transition: 300ms linear width;
  }

  .tools-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 60px;
    box-shadow: $default-shadow;    
    height: 60px;
    position: absolute;
    top: -50px;
    right: 0;

    @include md {
      display: none;  
    }
  }

  &--show {
    display: flex;
    flex-direction: column;
    z-index: 3;

    .tool-btn{
      display: flex;
      height: 60px;
      transition: 300ms linear all;
    }
  }
}
