@import "src/assets/styles/colors";
@import "src/assets/styles/measures";

.BankStatementForm {
  .fields{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    .bank-account-field{
      margin: 10px;
      flex: 1;
      &:last-child{
        margin-right:0;
      }
      &:first-child{
        margin-left:0;
      }
    }
  }

  .WindInput .input-el  {
    min-width: 150px;
    width: 100%;
  }
}
