@import "src/assets/styles/_breakpoints";
@import "src/assets/styles/_mixins";
@import "src/assets/styles/measures";

.GeneralInfo{

    @include md {
        display: flex;
        gap: $main-spacing;
    }

    &--mt{
        margin-top: $main-spacing;
    }

    .WindInput, .WindSwitch{
        width: 100%;
    }

    @include md {
        &__large{
            width: 100%;
            min-width: 400px;
            flex: 1;
        }
    }
    @include lg {
        &__large{
            width: 100%;
            min-width: 600px;
            flex: 1;
        }
    }
}