.TopBar{

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
  @media screen and (max-width: 720px){
    flex-direction: column;
  }

  .title{
    display: inline-block;
    vertical-align: middle;
  }
  .back-button{
    border: none;
    background: none;
    font-size: 42px;
    vertical-align: middle;
    margin-right: 15px;
  }
  .back-link:hover .back-button{
    animation: TopBar_back_button 4s infinite;
  }
  .buttons-container{
    display: flex;
    .SearchButton{
      margin-right: 20px;
    }
    @media screen and (max-width: 720px){
      margin-top: 20px;
    }
  }
}

@keyframes TopBar_back_button {

  10%{
    transform: translate(5px, 0);
  }
  25%{
    transform: translate(-10px, 0);
  }
  50%{
    transform: translate(0, 0);
  }
  75%{
    transform: translate(-15px, 0);
  }
}
