@import "src/assets/styles/colors";

.DetailTabs {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .DetailTabs__tab {
    width: 100%;
    display: flex;
    background-color: white;
    padding: 15px 20px;
    border-radius: 30px;
    box-shadow: $default-shadow;
    cursor: pointer;
    border: none;
    margin-bottom: 20px;

    .tab-label {
      margin-bottom: 0;
    }

    .UnderlinedTitle {
      .title-content{
        font-weight: normal;
        font-family: Montserrat-medium, sans-serif;
      }
      &:before {
        background-color: $subtitle-underline;
      }
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
