@import "src/assets/styles/colors";
@import "src/assets/styles/measures";

.QuoteProduct{

  .product-header{
    display: flex;
    justify-content: space-between;
    /*padding: 0 20px;*/
    padding: 0;
  }

  .detail-wrapper{
    padding: 20px;
    border-radius: 20px;
    box-shadow: $default-shadow;
    background: white;
    margin-top: 20px;
  }

  hr.rounded {
    border-top: 4px solid #FFC11E;
    border-bottom: none;
    border-radius: 5px;
    margin: $main-spacing 0;
  }

  &:last-child hr.rounded {
    display: none;
  }
}
