@import "src/assets/styles/colors";
@import "src/assets/styles/measures";

.FileIcon{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  cursor: pointer;
  position: relative;

  .thumb-container{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: $danger-color;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
    box-shadow: $default-shadow;
    transition: transform .25s, box-shadow .25s;
  }
  &:hover .thumb-container{
    box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.5);
    transform: translate(-6px, -2px) rotate(3deg);
  }
  &.add-file .thumb-container{
    background-color: $warning-color;
  }
  .name-container{
    text-align: center;
    padding: 10px 5px;
    word-break: break-word;
  }
  .file-input{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}
