@import "src/assets/styles/colors";

.Modal{
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 300;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;

  .back-overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $logo-gradient-opacity;
    z-index: -2;
    backdrop-filter: blur(8px);
  }

  .inner-modal {
    max-height: 95vh;
    background-color: white;
    border-radius: 15px;
    position: relative;
    padding: 24px;
    width: 800px;
    max-width: 98vw;
    overflow-y: auto;
  }
  &.large .inner-modal{
    width: 1400px;
  }

  .modal-title{
    display: inline-block;
    font-family: Montserrat-regular, sans-serif;
  }
  .close-btn{
    position: absolute;
    right: 24px;
    top: 18px;
  }
  .modal-content{
    padding: 20px 0;
  }
  .modal-footer{
    display: flex;
    justify-content: space-between;
    .Button{
      width: 260px;
      max-width: 30vw;
    }
  }

}
