@import "../../../assets/styles/measures";
@import "../../../assets/styles/colors";

.ForgotPassword{
  position: relative;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: auto;

  .forgot-title{
    text-align: center;
    width: 330px;
    color: $main-black;
    margin-top: 2rem;
    margin-bottom: 0;
  }

  .form-block{
    z-index: 1;
    position: relative;
    margin: 18vh 0 0 10vw;
    .logo{
      height: 60px;
    }
    .WindInput, .Button{
      margin-top: $main-spacing;
    }
    .Button{
      width: 330px;
    }

  }
  .forgot-password{
    text-align: center;
    width: 330px;
    color: $gray2;
  }
}
