@import "src/assets/styles/colors";

.UserButton{
    min-width: 163px;
    height: 40px;
    border-radius: 30px;
    background: white;
    color: black;
    display: inline-block;
    box-shadow: $default-shadow;
    
    &:not(:first-child) {
        margin-left: 10px;
    }

    .details{
        height: 40px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    .deleteButton{
        margin-left: 21px;
        font-size: 20px;
        cursor: pointer;
    }
}