@import "src/assets/styles/colors";

.RecurringPaymentsFormModal{
  .inner-modal {
    max-height: 95vh;
  }

  .RecurringPaymentsForm {
    .fields {
      display: flex;
      align-items: baseline;
    }

    .form-row > * {
      margin: 0 10px;
    }

    .WindInput, .WindInput .input-el, .WindSelect, .WindDatePicker{
      width: 100%;
    }

    padding-bottom: 250px;
  }

  .fullcenter {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .repeatIn {
    width: 100px;
  }
}