@import "src/assets/styles/breakpoints";
@import "src/assets/styles/mixins";

.Dashboard{
    .dashboard-grid-row {
        display: flex;        
        gap: 40px;
        position: relative;
        width: 100%;
        flex-direction: column;
        max-width: calc(100% - 24rem);

        @include md {
            flex-direction: row;
            max-width: 100%;
        }
    }

    .graph-buttons, .graph-buttons--incomes{
        position: absolute;
        top: 225px;
        left: 25px;
        z-index: 2;
    }

    .graph-buttons--incomes {
        top: 270px;
    }

    .mt-2{
        margin-top: 20px;
    }

    .general-info {
        position: relative;
        width: 100%;
    }

    .mt-filters {
        margin-top: 1rem;
    }
}