@import "src/assets/styles/colors";


.BankAccountCard {
  background-color: white;
  background-image: url('../../../../../assets/images/wind-isotipo-sm-transparent.png');
  background-position: right;
  background-repeat: no-repeat;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  position: relative;
  box-shadow: 2px 2px 5px 0px #00000040;
  min-height: 175px;


  .data-area {
    flex: 1;
  }

  .name {
    display: block;
    margin: 0;
    font-size: 24px;
  }

  .balance {
    display: block;
    color: $gray2;
    font-size: 32px;
    margin: 0;
    margin-top: 20px;
    font-weight: bold;
  }
  img{
    opacity: .2;
    position: absolute;
    top: -30px;
    right: 0;
    width: 170px;
  }

  .account-link {
    cursor: pointer;
  }

  .account-title {
    margin-top: 5px;
  }
}