@import "src/assets/styles/colors";

.WindSwitch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  border: none;
  min-width: 150px;
  border-radius: 30px;
  box-shadow: $default-shadow;
  background: white;
  color: $text-color;

  .switch-container {
    width: 40px;
    height: 22px;
    overflow: hidden;
  }

  .content {
    padding: 9px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .placeholder{
    color: $text-color;
  }
}
