.ImageMenuItem {
  .ImageMenuItem__button {
    display: flex;
    align-items: center;
    height: 1.75rem;
    width: 1.75rem;
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: none;
  }
}