
.FilePreview{
  .ImagePreview{
    text-align: center;
    .preview-image{
      max-width: 100%;
      max-height: calc( 100vh - 300px );
    }
  }
  .PdfPreview{
    .preview-window{
      width: 100%;
      height: calc( 100vh - 300px );
    }
  }
  .TextPreview{
    overflow: auto;
    color: white;
    background: #454246;
    border-radius: 20px;
    max-height: calc( 100vh - 300px );
    .text-pre{
      padding: 15px;
    }
  }
}
