@import "src/assets/styles/colors";

.QuoteProductForm {
  hr.rounded {
    border-top: 4px solid $warning-color;
    border-bottom: none;
    border-radius: 5px;
  }

  .description {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    .RichTextEditor {
      width: 100%;
    }
  }
}
