@import "src/assets/styles/_breakpoints";
@import "src/assets/styles/_mixins";
@import "src/assets/styles/measures";

.FiscalInfo{
    @include md {
        display: flex;
        gap: $main-spacing;
    }

    &--mt{
        margin-top: $main-spacing;
    }

    &--ad{
        margin-top: $main-spacing;
    }

    @include md {
        &__large{
            width: 100%;
            min-width: 300px;
            flex: 1;
        }
    }
    @include lg {
        &__large{
            width: 100%;
            min-width: 500px;
            flex: 1;
        }
    }

    .max30p {
        max-width: calc(30% + 36px);
    }

    .WindInput, .WindInput .input-el, .WindSwitch{
        width: 100%;
    }
}