.FileContainer{
  display: flex;
  position: relative;
  .drag-hint{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    font-size: 40px;
    font-family: Montserrat-medium, sans-serif;
    display: none;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 15px 2px rgba(0,0,0,0.5);
    *{
      pointer-events: none;
    }
    &.active{
      display: flex;
    }
  }
}
