@import "src/assets/styles/colors";
@import "src/assets/styles/mixins";
@import "src/assets/styles/breakpoints";

.ProjectList{
  padding-bottom: 120px;

  .no-projects {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 20px;
    color: $secondary-text-color;
  }

  .projects-header{
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 20px 20px;
    border-radius: 30px;
    box-shadow: $default-shadow;
    .project-stat{
      font-size: 18px;
    }
  }
  .projects-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
    margin-top: 20px;

    @include md {
      grid-template-columns: 1fr 1fr;
    }
  }

  .project-status-title {
    width: 100%;
    margin-top: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
  }
}
