@import "src/assets/styles/colors";

.SimpleCard{
  background: $gray3;
  border-radius: 20px;
  padding: 20px;
  box-shadow: $default-shadow;
  margin-top: 30px;
  .card-title{
    display: inline-block;
    margin-bottom: 20px;
    .title-content {
      font-family: Montserrat-regular, sans-serif;
    }
  }
}
