@import "src/assets/styles/colors";
@import "src/assets/styles/measures";

.WindTitleInput{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $gray3;
    padding: 16.5px 20px;
    border-radius: 30px;
    box-shadow: $default-shadow;
    
    &__input{
        background: none;
        border: none;
        font-family: Montserrat-medium, sans-serif;
        font-size: 24px;
        padding: 0;
        width: 50%;
        outline: none;
        color: #4C4C4E;
    }
}