@import "../../../../assets/styles/colors";

.MenuButton{
  display: flex;
  align-items: center;
  background: white;
  padding: 0 20px;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid $main-blue;

  .text{
    margin-right: 10px;
  }
  .lottie-container{
    display: inline-block;
    width: 2.5em;
  }
  &.open{
    z-index: 101;
  }

}
