@import "src/assets/styles/colors";

.SearchBarOrderFilter{
  min-width: 330px;
  padding: 12px 20px;
  border-radius: 30px;
  box-shadow: $default-shadow;
  background: white;
  color: $text-color;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
