@import "src/assets/styles/colors";
@import "src/assets/styles/measures";

.Conversations{
    .rowflex{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        margin-bottom: 10px;
    }

    &__rowSimple{
        margin: 1rem 0;
    }

    .inputComment{
        width: 100%;
        margin-top: $main-spacing;

        & > .textarea-el{
            width: 100%;
            height: 100px;
            resize: none;
        }
    }

    .mt-1{
        margin-top: $main-spacing;
    }

    .modal-footer{
        display: none;
    }

    .modal-content{
        padding-bottom: 0;
    }

    .selectChannels{
        width: 260px;
        float: left;
        margin-right: $main-spacing;
    }

    .back-button{
        border: none;
        background: none;
        font-size: 26px;
        vertical-align: middle;
        margin-right: 15px;
    }

    .SimpleCard .ChannelConfig{
        background-color: #FFF;
    }

    .TooltsButton{
        color: $main-black;
    }
}