@import "src/assets/styles/colors";

.UserPermissionsBar {
  border-radius: 20px;
  border: none;
  box-shadow: $default-shadow;
  padding: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;

  .hover-pointer {
    cursor: pointer;
  }

  .header-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    .user-info {
      display: flex;
      align-items: center;
      .profile-avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      .profile-name {
        font-family: Montserrat-regular, sans-serif;
        font-size: 14px;
      }
    }

    .permissions-actions {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .permissions-action {
        color: $success-color;
        font-size: 20px;
        margin-left: 5px;
        margin-right: 5px;
      }

      .permissions-toggler {
        color: black;
        font-size: 20px;
        margin-left: 20px;
        margin-right: 5px;
        cursor: pointer;
        .caret{
          transition: transform 300ms;
          &.open{
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  .tools-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .acl-action {
      border-radius: 20px;
      width: calc(33% - 5px);
      border: none;
      box-shadow: $default-shadow;
      display: flex;
      align-items: center;
      margin-top: 10px;
      padding: 5px 10px;
      cursor: pointer;

      &:nth-of-type(3n) {
        margin-left: 10px;
      }

      &:nth-of-type(3n+1) {
        margin-right: 10px;
      }

      .acl-action-icon {
        color: $danger-color;
        font-size: 20px;
        margin-right: 10px;
      }

      .enable {
        color: $success-color !important;
      }
    }
  }
}
