@import "src/assets/styles/colors";
@import "src/assets/styles/measures";

.BankTransactionsList {
  .form-row {
    max-width: 100%;
    display: flex;
    > * {
      width: calc(50% - 20px);
      margin: 0 10px;

          
      &:last-child {
        margin-right: 0;
        width: calc(50% - 10px);
      }
      &:first-child {
        margin-left: 0;
        width: calc(50% - 10px);
      }

      .input-el, .textarea-el {
        width: 100%;
      }
      .textarea-el {
        height: 107px;
      }
    }
    .textArea {
      width: 100%;
    }
  }

  /*from bootstrap table-responsive*/
  .table-responsive {
    display: block;
    width: 100% !important;
    -webkit-overflow-scrolling: touch;
    .table {
      width: 100%;
    }
  }

  @media screen and (max-width: 700px) {
    .table-responsive {
      overflow-x: auto;
    }
    .inner-modal {
      overflow-y: auto;
      overflow-x: auto;
    }
  }

  @media screen and (min-width: 900px) {
    .WindDatePicker .react-calendar {
      position: relative;
      right: 250px;
    }
  }
  /*end bootstrap table-responsive*/

  
  .table {
    border-collapse: separate;
    border-spacing:0 20px;
    margin-top: -20px;

    $border-radius: 30px;
    tr{
      background: white;
      border-radius: $border-radius;
      box-shadow: $default-shadow;
    }
    th, td {
      border-top: none;
      font-weight: normal;
      padding: 1rem;
      text-align: center;
      &:first-child{
        text-align: left;
        border-radius: $border-radius 0 0 $border-radius;
        padding-left: 40px;
      }
      &:last-child{
        text-align: right;
        border-radius: 0 $border-radius $border-radius 0;
        padding-right: 40px;
      }
    }
    th{
      font-size: 18px;
      font-weight: bold;
    }
    td{
      border-top: none;
    }
  }
  .table-footer{
    display: block;
    font-size: 0.8em;
    .register-count{
      float: left;
    }
  }
  .spacer{
    height: 10em;
  }
  .over-message{
    font-size: 1.6em;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -2em;
    width: 100%;
    span{
      display: inline-block;
      background-color: pink;
      border-radius: 10px;
      padding: 20px;
      color: white;
    }
  }
  .table td, .table th {
    vertical-align: middle;

    .badge {
      font-size: 20px;
      &-info {
        color: $warning-color !important;
      }
  
      &-success {
        color: $success-color !important;
      }
  
      &-danger {
        color: $danger-color !important;
      }
    }
  }

  .btn-group {
    display: flex;
    align-items: center;
    .btn-check {
      margin-right: 10px;
    }
  }
  .transaction-container {
    display: flex;
    align-items: center;
  }
}
