.ClientMainDetails {
  display: flex;
  width: 100%;

  .DetailTabs {
    width: 20%;
  }

  .ClientInfo {
    width: 80%;
    margin-left: 20px;
  }

  .ClientTransactions {
    margin-left: 20px;
    width: 80%;
  }

  .ClientUsers {
    margin-left: 20px;
    width: 80%;
  }

  .ClientProjects {
    margin-left: 20px;
    width: 80%;
  }
}
