@import "src/assets/styles/colors";

.DetailHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $gray3;
  padding: 16.5px 20px;
  border-radius: 30px;
  box-shadow: $default-shadow;
}