@import "src/assets/styles/colors";

.UserInfo {
  .card-content {
    display: flex;
  }
  .avatar {
    width: 121px;
    height: 121px;
    margin-right: 15px;
  }
  .general-content__row {
    width: calc(100% - 150px);
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    flex: 1;
    justify-content: space-between;

    .general-content__row-info {
      /*flex: 1;
      display: flex;
      flex-direction: column;*/
      margin: 10px;
      .general-content__row-info-value {
        font-size: 14px;
        color: $text-color;
        margin: 0;
      }
      .general-content__row-info-label {
        font-size: 11px;
        margin: 0;
        color: $secondary-text-color;
      }

      .initials {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: $danger-color;
        width: 50px;
        height: 50px;
        .general-content__row-info-value {
          font-size: 20px;
          color: white;
          text-transform: uppercase;
        }
      }

      &:last-of-type {
        margin-right: 0;
      }

      &:first-of-type {
        margin-left: 0;
      }
    }
  }
}