@import "src/assets/styles/colors";

.QuoteDetail{
  .quote-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $gray3;
    padding: 16.5px 20px;
    border-radius: 30px;
    box-shadow: $default-shadow;

    .quote-status-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .quote-status-label {
        border: none;
        background: transparent;
      }
    }
  }
  .info-blocks{
    display: flex;
    justify-content: space-between;
  }
  .info-blocks > * {
    flex: 1;
  }
  .total-info .card-content{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    p{
      margin: 0;
    }
    .label{
      color: $gray1;
      font-size: 20px;
      margin-bottom: 5px;
    }
    .value{
      font-size: 24px;
    }
  }

}
