@import "src/assets/styles/colors";
@import "src/assets/styles/measures";

.FiscalDataForm {
    margin-right: 95px;

    .fiscalData-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $gray3;
        padding: 16.5px 20px;
        border-radius: 30px;
        box-shadow: $default-shadow;

        .title-input {
            background: none;
            border: none;
            font-family: Montserrat-medium, sans-serif;
            font-size: 24px;
            padding: 0;
            width: 50%;
            outline: none;
            color: $text-color;
        }
    }

    .info-blocks {
        display: flex;
        justify-content: space-between;
    }

    .fields {
        flex-wrap: wrap;
        display: flex;
        align-items: center;

        .project-field {
            margin: 10px;
            flex: 1;

            &:last-child {
                margin-right: 0;
            }

            &:first-child {
                margin-left: 0;
            }
        }

        .WindInput .input-el {
            min-width: 150px;
            width: 100%;
        }
    }

    .fiscalDataItemForm {
        padding-top: 10px;
        padding-bottom: 10px;

        & {
            padding-top: 0;
            border-bottom: 4px solid #FFC11E;
            border-radius: 5px;
        }
    }

    .DragDropFile {
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .quote-instructions {
        margin-top: 0;
        margin-bottom: 15px;
    }

    .form-row {
        max-width: 100%;
        display: flex;

        >* {
            width: calc(50% - 20px);
            margin: 0 10px;


            &:last-child {
                margin-right: 0;
                width: calc(50% - 10px);
            }

            &:first-child {
                margin-left: 0;
                width: calc(50% - 10px);
            }

            .input-el,
            .textarea-el {
                width: 100%;
            }

            .textarea-el {
                height: 107px;
            }
        }

        .textArea {
            width: 100%;
        }
    }

    /*from bootstrap table-responsive*/
    .table-responsive {
        display: block;
        width: 100% !important;
        -webkit-overflow-scrolling: touch;

        .table {
            width: 100%;
        }
    }

    @media screen and (max-width: 700px) {
        .table-responsive {
            overflow-x: auto;
        }

        .inner-modal {
            overflow-y: auto;
            overflow-x: auto;
        }
    }

    @media screen and (min-width: 900px) {
        .WindDatePicker .react-calendar {
            position: relative;
            right: 250px;
        }
    }

    /*end bootstrap table-responsive*/


    .table {
        border-collapse: separate;
        border-spacing: 0 20px;

        $border-radius: 30px;

        thead tr {
            background: white;
            border-radius: $border-radius;
            box-shadow: $default-shadow;
        }

        th,
        td {
            border-top: none;
            font-weight: normal;
            padding: 0.5rem;
            text-align: center;

            &:first-child {
                text-align: left;
                border-radius: $border-radius 0 0 $border-radius;
            }

            &:last-child {
                text-align: right;
                border-radius: 0 $border-radius $border-radius 0;
                padding-right: 60px;
            }
        }

        tbody td {
            &:last-child {
                padding: 0.5rem 0 0.5rem 0.5rem;
            }

            ;
        }

        th {
            font-size: 15px;
            font-weight: bold;
        }

        td {
            border-top: none;
        }
    }

    .table-footer {
        display: block;
        font-size: 0.8em;

        .register-count {
            float: left;
        }
    }

    .spacer {
        height: 10em;
    }

    .over-message {
        font-size: 1.6em;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -2em;
        width: 100%;

        span {
            display: inline-block;
            background-color: pink;
            border-radius: 10px;
            padding: 20px;
            color: white;
        }
    }

    .table td,
    .table th {
        vertical-align: middle;
    }

    .quotes-amount {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
    }

    .xml-file-name {
        margin-left: 20px;
    }
}