@import "src/assets/styles/colors";

.SearchButton{
  background: white;
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 18px;
  border: 1px solid $main-blue;
  &.active{
    border-width: 2px;
    color: $info-color;
  }
}
