.Avatar {
  position: absolute;
  top: 20px;
  left: 40px;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  height: 100px;
  width: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}