@import "../../../assets/styles/colors";

.TideReactTable{
  position: relative;
  /*from bootstrap table-responsive*/
  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    .table {
      width: 100%;
    }
  }
  /*end bootstrap table-responsive*/

  .table-container{
    min-height: 120px;
    padding: 0 5px;
  }
  .table {
    border-collapse: separate;
    border-spacing:0 20px;
    margin-top: -20px;

    $border-radius: 30px;
    tr{
      background: white;
      border-radius: $border-radius;
      box-shadow: $default-shadow;
    }
    th, td {
      border-top: none;
      font-weight: normal;
      padding: 1rem;
      text-align: center;
      &:first-child{
        text-align: left;
        border-radius: $border-radius 0 0 $border-radius;
        padding-left: 40px;
      }
      &:last-child{
        text-align: right;
        border-radius: 0 $border-radius $border-radius 0;
        padding-right: 40px;
      }
    }
    th{
      font-size: 18px;
      font-weight: bold;
    }
    td{
      border-top: none;
    }
  }
  .table-footer{
    display: block;
    font-size: 0.8em;
    .register-count{
      float: left;
    }
  }
  .spacer{
    height: 10em;
  }
  .over-message{
    font-size: 1.6em;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -2em;
    width: 100%;
    span{
      display: inline-block;
      background-color: pink;
      border-radius: 10px;
      padding: 20px;
      color: white;
    }
    .LoadingIcon{
      max-width: 100px;
      margin: auto;
    }
  }
  .table td, .table th {
    vertical-align: middle;
  }

  .table tr:hover{
    //background-color: lightgray;
  }

  .icon {
    font-size: 1.5em;

    &--green{
      color: $success-color;
    }
    
    &--red{
      color: $danger-color;
    }
  }
}
