@import "src/assets/styles/colors";
@import "src/assets/styles/measures";
@import "src/assets/styles/_mixins";

.UserAvatar {
  width: 160px;
  height: 160px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: $avatar-border-radius;

  .image-container {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include fillParent;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    position: relative;

    &:hover > .click-overlay {
      opacity: 1;
      transition: opacity 0.5s ease;
    }
  }
  
  .click-overlay{
    @include fillParent;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: white;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 0;
    text-align: center;
    cursor: pointer;
  }

  .file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  .fields:last-child > .WindInput{
    margin-bottom: 0;
  }
}