@import "src/assets/styles/colors";
@import "src/assets/styles/measures";

.BankStatementList {
  .badge {
    font-size: 20px;
    &-info {
      color: $warning-color;
    }

    &-success {
      color: $success-color;
    }

    &-danger {
      color: $danger-color;
    }
  }
}
