@import "colors";
@import "_breakpoints";
@import "_mixins";

*{
  box-sizing: border-box;
}

.wind-scene-content {
  display: block;

  @include md {
    display: flex;
  }
}

body{
  padding: 0;
  margin: 0;
  font-family: Montserrat-regular, sans-serif;
  font-size: 14px;
  color: $text-color;
  background-color: $main-background;
  transition: background-color 1s;
  &.clear-background{
    background-color: white;
  }
}

b, strong{
  font-family: Montserrat-semibold, sans-serif;
  font-weight: 600;
}
a{
  text-decoration: none;
  color: inherit;
}

h1{
  font-family: Montserrat-extra-bold, sans-serif;
  font-weight: bolder;
  font-size: 60px;
  @media screen and (max-width: 720px){
    font-size: 40px;
  }
}
h2{
  font-family: Montserrat-medium, sans-serif;
  font-weight: initial;
  font-size: 24px;
  @media screen and (max-width: 720px){
    font-size: 20px;
  }
}

button{
  cursor: pointer;
}
.overflow-hidden{
  overflow: hidden;
}
.wind-scene{
  position: relative;
  padding: 20px;
  width: 100%;
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;

  @include md {
    padding: 20px 36px 36px 36px;
  }
}

.center-container{
  max-width: 1520px;
  margin: auto;

  /*@media screen and (max-width: 2000px){
    margin-left: 0;
    margin-right: 96px;
  }*/

  @include md {
    margin-left: 0;
    margin-right: 96px
  }
}
.center{
  text-align: center;
}

.form-row{
  max-width: 100%;
  display: flex;
}
.mt-20 {
  margin-top: 20px;
}
.nowrap{
  white-space: nowrap;
}

.login-modal > .inner-modal {
  width: 400px !important;
}