//////  ----    Colors definition ----
$main-blue: #36ACCA;
$secondary-blue: #9AD5E4;

$main-black: #4C4C4E;
$gray1: #828283;
$gray2: #C4CBCC;
$gray3: #F9F9F9;
$gray4: #F0F0F0;

$success-color: #06BAB4;
$danger-color: #FF3363;
$warning-color: #FFC11E;
$info-color: #0066FF;

$logo-gradient: linear-gradient(90deg, #36ACC7 0%, #7BC4CA 100%);
$logo-gradient-opacity: linear-gradient(90deg, rgba(54, 172, 199, 0.5) 0%, rgba(123, 196, 202, 0.4) 100%);

//////  ----  Text colors ----

$text-color: $main-black;
$secondary-text-color: $gray1;
$hint-text-color: $gray2;

$main-title-underline: $danger-color;
$subtitle-underline: $warning-color;

//////  ----  App colors ----
$main-background: $gray4;
$card-background: $gray3;

$default-shadow: 2px 2px 5px 0 rgba(0,0,0,0.2);
