@import "src/assets/styles/colors";

.CompanyBadge{
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  font-size: 24px;
  background-color: $danger-color;
  font-family: Montserrat-medium, sans-serif;
}
