@import "src/assets/styles/colors";

.SimpleCardTwoColumns{
  background: $gray3;
  border-radius: 20px;
  padding: 20px;
  box-shadow: $default-shadow;
  margin-top: 30px;
  display: flex;

  &__columnLeft{

  }

  &__columnRight{
    flex: 1;
  }

  .card-title{
    display: inline-block;
    margin-bottom: 20px;
    .title-content {
      font-family: Montserrat-regular, sans-serif;
    }
  }
}
