@import "src/assets/styles/colors";

.WindDatePicker{
  background: white;
  box-shadow: $default-shadow;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  min-width: 250px;
  align-items: center;

  .label{
    position: relative;
    font-size: 1em;
    padding: 0 0 0 20px;
  }

  .react-date-picker{
    padding: 6px 0;
    top: 1px;
    &__wrapper{
      border: none;
    }
  }
  .react-calendar {
    border-radius: 20px;
    border: none;
    box-shadow: 10px 10px 30px 5px rgba(0, 0, 0, 0.4);
    padding: 5px;
    width: 365px;
    &__title{
      color: $text-color;
    }
  }

  .react-date-picker__clear-button {
    position: relative;
    bottom: 1px;
  }

  .react-date-picker--disabled {
    background: none !important;
  }
}
