@import "src/assets/styles/_breakpoints";
@import "src/assets/styles/measures";
@import "src/assets/styles/_mixins";

.AdvancedLocalFilters{
  padding: 15px 35px;

  .filterRow{
    display: flex;
    flex-wrap: wrap;

    /* small devices */
    .SearchBarFilter, .SearchBarOrderFilter{
      margin-top: 20px;
      width: 100%;
      min-width: 200px;
    }

    .WindInput, .WindSelect{
      width: 100%;

      .input-el{
        width: 100%;
      }
    }

    .TextFilter, .SearchBarSelectFilter, .SearchBarDateFilter, .SearchBarOrderFilter{
      flex: 1 1 250px;
    }

    .SearchBarFilter, .SearchBarOrderFilter{
      margin-left: 10px;
      margin-right: 10px;     
      max-width: 100%;

      @include xlg {
        max-width: calc(25% - 20px);
      }
    }
  }
}
