@import "src/assets/styles/colors";
@import "src/assets/styles/measures";

.UserAvatar {
  width: 160px;
  height: 160px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: $avatar-border-radius;
}